<div class="container">

  <div class="col"> <h1>{{titulo}}</h1> </div> <br> <br>

  <form class="form-group row">

    <div class="form-group col-md-3">

      <label for="nombre">Nombre: </label>
      <input type="text" name="nombre" id="nombre" placeholder="Alberto" class="form-control" [(ngModel)] = "cuadroNombre"> <br> <br>

      <label for="apellido">Apellido: </label>
      <input type="text" name="apellido" id="apellido" placeholder="Garcia" class="form-control" [(ngModel)] = "cuadroApellido"> <br> <br>

      <label for="cargo">Cargo: </label>
      <input type="text" name="cargo" id="cargo" placeholder="Desarrollador" class="form-control" [(ngModel)] = "cuadroCargo"> <br> <br>

      <label for="salario">Salario: </label>
      <input type="text" name="salario" id="salario" class="form-control" [(ngModel)] = "cuadroSalario"> <br> <br>

      <input type="submit" value="Registrar">

    </div>

  </form>

</div>


<div class="container">

  <div class="row">

    <div class="col">

      <div *ngFor="let empledo of empleados; let i = index">
        
        {{i + 1}} {{empledo.nombre}} {{empledo.apellido}} {{empledo.cargo}} {{empledo.salario}}

      </div>

    </div>

  </div>
  
</div>

